
      html{
        background: url(../images/home.jpg) no-repeat center fixed;
        background-size: cover;
      }

      body {
    font-family: 'heebo';
    font-weight: 400;
}
* {
    padding: 0;
    margin: 0;
}
.navbar {
    overflow: hidden;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: right;
    font-size: 20px;
    color: #090;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#me {
  float: left;
  margin-left: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;    
    border: none;
    outline: none;
    color: #090;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #fff;
    color: #090;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #090;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #090;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #090;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

p{
    font-family: "heebo";
    color: #FFFFFF;
    font-size: 30Px;
    margin-left: 150px;
    margin-top: 200px;
}

pre{
    color: #FFFFFF;
    font-family:"heebo";
    font-size: 40px;
    margin-left: 50px;
    margin-top: 0px;


}

button{
    background-color: #090;
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 30Px;
    margin-left: 0px;
    margin-top: -10px;
}

.footer {
    padding: 40px 0;
    background-color: #fff;
    height: 5px;
    width: 100%;
    max-width: 100000px;
}
.footer .social {
    text-align: center;
    color: #090;
}
.footer .social a {
    text-decoration: none;
    float: right;
    color: inherit;
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin: -10px 8px;
    opacity: 0.80;
}
.footer .social a:hover {
    opacity: 0.95;
}
.footer .copyright {
    font-size: 19px;
    color: #090;
    margin: -10px 8px;
    text-align: center;
}
